#header {
    float: left;
}

.bin {
    margin-left: 10px;
    margin-top: 10px;
    width: 30px;
    float: left;
}

.links {
    font-family: 'Avenir Next Condensed', Avenir, 'Helvetica Neue', Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: lighter;
    float: right;
    margin-left: 10px;
    margin-top: 21px;
}

.trash {
    margin-top: 40px;
    
}

.drawings {
    width: 50px;
    
}