#header {
    float: left;
}

.bin {
    margin-left: 10px;
    margin-top: 10px;
    width: 45px;
    float: left;
}

.links {
    font-family: 'Avenir Next Condensed', Avenir, 'Helvetica Neue', Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: lighter;
    float: right;
    margin-left: 20px;
    margin-top: 21px;
    text-decoration: none;
    color: #000000;
}

.links: hover {
    font-weight: bolder;
    color: #000000;
}

.trash {
    margin-top: 70px;
    
}

.drawings {
    width: 70px;
    
}