body {
    background-color: #d72831;
}

.wrapper {
    /*width: 1000px;*/
    /*margin-top: 20px;*/
    /*margin-left: 300px;*/
    /*position: absolute;*/
    display: inline-block;
    width: 100%
}

.background {
    margin-left: 60px;
    margin-top: 30px;
    width: 70px;
    height: 70px;
    /*border: solid white;*/
    /*display: inline block;*/
    box-shadow: 1px 1px 12px #000000;
    transition: all .6s ease-in-out;
}

.vertical1 {
  position: absolute;
  margin-left: -342px;
  margin-top: -170px;
}

.vertical2 {
    position: absolute;
    margin-left: -342px;
    margin-top: -70px;
}

.vertical3 {
    position: absolute;
    margin-left: -342px;
    margin-top: 130px;
}


.background:hover {
    transform: scale(1.1);
}

.black {
    background-color: #000;
    /*display: inline-block;*/
    /*float: left;*/
}

.white {
    background-color: #fff;
    /*width: 90px;*/
    /*height: 90px;*/
    /*float: right;*/
    display: inline-block;
}

.grey:hover {
    background-color: black;
}

.text {
    font-family: 'courier new', courier;
    color: white;
    font-size: 12px;
    font-weight: lighter;
    width: 70px;
    margin-left: 200px;
    margin-top: 30px;
}

.icon {
    margin-left: 200px;
    margin-top: 30px;
    width: 70px;
    height: 70px;
}

.prev {
    background-color: black;
    width: 70px;
    height: 70px;
    /*margin-right: 0px;*/
    margin-top: 10px;
    margin-left: 1000px;
    text-decoration: none;
    color: white;
}

.left {
    float: left;
}

.static {
    /*position: absolute;*/
    width: 400px;
    height: 400px;
    margin-top: -220px;
    margin-left: 450px;
}

.static-wrapper {
    width: 100%;
}

p {
    margin-left: 10px;
    padding-top: 10px;
    font-family: 'courier new', courier;
    color: white;
    font-size: 12px;
    font-weight: lighter;
    /*position: relative;*/
}

a {
    text-decoration: none;
    color: white;
}