
html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.bg {
    width: 100%;
    min-height: 100%;
    margin: 0px;
}

.bg1 { background-color: #ceeffa; }

.bg2 { background-color: #f5eaff; }

.bg3 { background-color: #ceeffa; }

.bg4 { background-color: #d7f2dc; }

.bg5 { background-color: #f0f2dc; }

.bg6 { background-color: #ffd7d7; }

.bg7 { background-color: #f0effa; }

.title {
    font-family: Avenir, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: bolder;
}

.title {
    font-size: 200px;
    margin: 0 auto;
    text-align: center;
}

.title1 { font-size: 250px; height: 210px; }

.title2 { font-size: 200px; }

.title3 { font-size: 90px; }

.title4 { font-size: 70px; }

.title5 { font-size: 60px; }

/*.hi { */
/*    height: 20px;*/
/*}*/

.grey {
    background-color: #6d6e70;
}

/*.phrase,*/
/*.word {*/
/*    -webkit-transition: opacity, 300ms, ease-out;*/
/*       -moz-transition: opacity, 300ms, ease-out;*/
/*            transition: opacity, 300ms, ease-out;*/
/*    opacity: 1;*/
/*}*/

/*.hide {*/
/*    opacity: 0;*/
/*}*/