body {
    margin: 0;
    padding: 0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.words-holder {
    /*text-align: center;*/
    font-family: Din, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 60pt;
    color: #1ec2ed;
    margin-top: 225px;
    height: 208px;
    /*position: fixed;*/
    overflow: hidden;
    /*margin-bottom: 80px;*/
    /*background-color: red;*/
    /*padding-bottom: 80px;*/
    margin-left: 20px;
    margin-right: 20px;
    text-transform: uppercase;
    -webkit-text-stroke: 2px black;
}

.blue-text {
    font-family: Din, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 60pt;
    color: #1ec2ed;
    /*margin-top: 80px;*/
    margin-left: 100px;
    text-transform: uppercase;
    -webkit-text-stroke: 2px black;
    display: inline-block;
    /*position: fixed;*/
}

.red-text {
    font-family: Din, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 60pt;
    color: #d03926;
    /*margin-top: 80px;*/
    margin-left: 20px;
    text-transform: uppercase;
    -webkit-text-stroke: 2px black;
    display: inline-block;
    /*position: fixed;*/
}

.blue-outline {
    font-family: Din, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 60pt;
    color: #ffffff;
    /*margin-top: 80px;*/
    margin-left: 250px;
    text-transform: uppercase;
    -webkit-text-stroke: 2px #1ec2ed;
    display: inline-block;
    /*position: fixed;*/
}

.black-outline {
    font-family: Din, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 60pt;
    color: #ffffff;
    /*margin-top: 80px;*/
    margin-left: 160px;
    text-transform: uppercase;
    -webkit-text-stroke: 2px black;
    display: inline-block;
    /*position: fixed;*/
}

.blue-back {
    font-family: Din, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 60pt;
    color: #ffffff;
    /*margin-top: 80px;*/
    margin-left: 20px;
    text-transform: uppercase;
    background-color: #1ec2ed;
}

.buttons {
    position: fixed;
    top: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    height: 90px;
    width: 110px;
}

.go-button {
    background-color: #ffe022;
    width: 80px;
    height: 40px;
    /*border-radius: 100%;*/
    border: 4px solid black;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    position: fixed;
    top: 20px;
    left: 50%;
    color: black;
    line-height: 40px;
    text-align: center;
    z-index: 1000;
    cursor: pointer;
    -webkit-transform: translateX(-50%);
}

.back-button {
    background-color: #1ec2ed;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px solid white;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    position: fixed;
    top: 20px;
    /*left: 50%;*/
    left: 85px;
    color: white;
    line-height: 50px;
    text-align: center;
    z-index: 1000;
    cursor: pointer;
    -webkit-transform: translateX(-50%);
    display: inline-block;
}

.save-button {
    background-color: #1ec2ed;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px solid white;
    font-family: Arial, sans-serif;
    font-size: 8px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    color: white;
    line-height: 50px;
    text-align: center;
    z-index: 1000;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-transform: translateX(-50%);
}
.go-button-home {
    background-color: #ffe022;
    width: 80px;
    height: 40px;
    border: 4px solid black;
    /*border-radius: 100%;*/
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    /*margin-left: 47.5%;*/
    color: black;
    line-height: 40px;
    text-align: center;
    z-index: 1000;
    cursor: pointer;
    /*opacity: 50%;*/
    -webkit-transform: translateX(-50%);
}

.start-over {
    font-size: 12px;
}

.line {
    width: 1px;
    height: 100px;
    background-color: #a4bde2;

}


.blue-box {
    background-color: #1ec2ed;
    background-color: #ffe022;
    border: 4px solid black;
    color: black;
    height: 400px;
    position: relative;
    width: 600px;
    margin: 0px auto;
    z-index: 1500;
}

.blue-box:hover {
    min-height: 0px;
}

.body-text {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
    /*font-family: baskerville;*/
    font-weight: bold;
    color: black;
    /*font-style: italic;*/
    /*font-size: 18px;*/
    /*width: 500px;*/
    /*margin: 0 auto;*/
    left: 20px;
    right: 14px;
    top: 300px;
    /*margin-top: 100px;*/
    /*vertical-align: center;*/
    /*margin: 0px auto;*/
    /*margin-left: 22%;*/
    position: absolute;
    /*vertical-align: bottom;*/
    /*margin-bottom: 20px;*/
    /*margin: 0 auto;*/
    /*text-transform: uppercase;*/
}

.text-wrap {
    width: 600px;
    margin: 0 auto;
}

.images {
    position: absolute;
    /*top: 0px;*/
    vertical-align: top;
}

.box-animation {
    -webkit-transition: min-height 1s; 
    -moz-transition: min-height 1s; 
    -ms-transition: min-height 1s; 
    -o-transition: min-height 1s; 
    transition: min-height 1s;  
    overflow: hidden;
    min-height: 0;
}

.zoom {
    transition: all .2s ease-in-out;
}

.zoom:hover { 
    transform: scale(1.1); 
}

::-moz-selection {
    background: transparent;
}


::selection {
    background: transparent;
}