body {
    background-color: black;
}

.text {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: lighter;
    text-align: center;
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 60s infinite linear;
}

@-webkit-keyframes hue {
    from {
      -webkit-filter: hue-rotate(0deg);
    }

    to {
      -webkit-filter: hue-rotate(360deg);
    }
    
}

input[type="radio"] + label span {
     background-color:#ffffff;
}

input[type="radio"]:checked + label span{
     background-color:#ff0000;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition:background-color 0.4s linear;
  -o-transition:background-color 0.4s linear;
  -moz-transition:background-color 0.4s linear;
  transition:background-color 0.4s linear;
}

mark {
    background-color: rgba(255,0,0,0.5);
}